.chatMessage {
  display: flex;
}

.chatMessage .chatImage {
  margin: 12px;
  height: 54px;
  width: 54px;
  border-radius: 54px;
  background: #fff;
}

.chatMessage .chatImage div {
  background-size: cover !important;
  height: 54px;
  width: 54px;
  transform: scale(1.02);
  border-radius: 54px;
}

.chatMessage .chatText p {
  margin-bottom: 6px;
}

.chatMessage .chatText a {
  display: inline-block;
  color: #68b3dd;
  word-break: break-word;
}

.chatMessage .chatText span {
  display: block;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-right: 24px;
  word-break: break-word;
}

.chatMessage .chatText .msgMedia {
  position: relative;
}

.chatMessage .chatText img, .chatMessage .chatText video, .chatMessage .chatText iframe {
  border-radius: 8px;
  margin-top: 8px;
  border: none;
  width: 100%;
  max-width: 495px;
  object-fit: contain;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background: #000;
}

.chatMessage .chatText .ytPreview, .chatMessage .chatText iframe {
  width: 495px;
  height: 279px;
}

.chatMessage .chatText .ytPlayBtn {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 495px;
  height: 279px;
  cursor: pointer;
}

.chatMessage .chatText .ytPlayBtn:after {
  content: " ";
  z-index: 500;
  position: absolute;
  top: calc(50% - 58px / 2);
  left: calc(50% - 80px / 2);
  background: url(../img/youtubeplay.png);
  background-size: 80px 58px;
  width: 80px;
  height: 58px;
  transition: opacity 0.2s;
}

.chatMessage .chatText .ytPlayBtn:hover:after {
  opacity: 0.85;
}
